<div class="custombuttoncontainer" style="margin: 0 auto;" id="commentSection">
    <a>
        <button id="loadComments" class="custombutton _1" style="--color:rgb(0, 180, 0); --paddingx:13px; --paddingy:18px">
            <p>Load Guestbook</p><img class="custombuttonicon" src="/icons/guestbook-green.png" alt="Load Guestbook" style="height:2.25em; width: auto;">
        </button>
        <button id="loadComments" class="custombutton _2" style="--color:rgb(0, 180, 0); --paddingx:13px; --paddingy:18px">
            <p>Load Guestbook</p><img class="custombuttonicon" src="/icons/guestbook-green.png" alt="Load Guestbook" style="height:2.25em; width: auto;">
        </button>
    </a>
</div>

<!-- Placeholder for comment box -->
<div id="remark42" class="remark42"></div>