<div id="commentSection">
    <div class="loadcommentsbuttoncontainer">
        <button id="loadComments" class="loadcommentsbutton _1">
            <p>Load Guestbook</p>
            <img class="loadcommentsicon" src="/icons/guestbook-green.png" alt="Guestbook icon" style="height:36px; width: 40px;">
        </button>
        <button class="loadcommentsbutton _2">
            <p>Load Guestbook</p>
            <img class="loadcommentsicon" src="/icons/guestbook-green.png" alt="Guestbook icon" style="height:36px; width: 40px;">
        </button>
    </div>
</div>

<!-- Placeholder for comment box -->
<div id="remark42" class="remark42"></div>