<!--
	class: class of the figure
	link: url the image directs to
	alt: alternative text
	caption: caption
	mouse: what the image says when moused over ("title" in HTML)
	width: the max-width of the image
	nolazyloading: if lazy loading should be disabled
-->
<figure {{ with .Get "class" }}class="{{.}}"{{ end -}} style="margin:0;">
	{{- with .Get "link"}}<a href="{{.}}">{{ end -}}
	<div class="blurimgcontainer" style="width:auto;max-width:{{ .Get "width"}};">
		<img class="blurimg _1" src="{{ .Get "src" }}" {{ if .Get "nolazyloading" }}{{ else }}loading="lazy"{{ end }}
			{{- with .Get "mouse" }} title="{{.}}"{{ end -}}
			{{- with .Get "alt" }} alt="{{.}}"{{ end -}}
		>
		<div class="blurimg _2">
			<img src="{{ .Get "src" }}" {{ if .Get "nolazyloading" }}{{ else }}loading="lazy"{{ end }}
				{{- with .Get "mouse" }} title="{{.}}"{{ end -}}
				{{- with .Get "alt" }} alt="{{.}}"{{ end -}}
			>
		</div>
	</div>
	{{- if .Get "link"}}</a>{{ end -}}
	{{- with .Get "caption" -}}
	<figcaption>
	{{- . -}}
	</figcaption>
	{{- end -}}
</figure>
