<!--just taglist but without links-->
{{- if isset .Params "tags" -}}
    {{- $tagsLen := len .Params.tags -}}
    {{- if gt $tagsLen 0 -}}
{{- with "" }}{{ . }} {{ end -}}
    {{- range $k, $v := .Params.tags -}}
    {{- $url := printf "tags/%s" (. | urlize | lower) -}}
    <p class="tag
        {{if eq (. | title) "Outside"}}tagoutside{{end}}
        {{if eq (. | title) "Website"}}tagwebsite{{end}}
        {{if eq (. | title) "Game Dev"}}taggamedev{{end}}
    " style="display:inline-block;"id="tag_{{ . | lower }}" href="{{ $url | absURL }}">{{ . | title }}</p>
    {{- if lt $k (sub $tagsLen 1) }} {{ end -}}
    {{- end -}}
{{- end -}}
{{- end }}

{{- if not (.Param "tags") -}}
{{- end -}}