<!DOCTYPE html>
<html lang="{{ .Site.Language }}" style="background-color: #121212; color: #ccc;">
<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} - {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>

	{{ $css := resources.Get "style.css" | minify }}
	<link rel="stylesheet" href="{{ $css.Permalink }}">
	
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<meta name="description" content="{{ .Summary }}{{ if .IsHome }}{{ end }}">
	<!--<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">-->
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta name="darkreader-lock">
	<meta charset="utf-8">

	<link rel="me" href="https://github.com/mat-383"/>
</head>
<div class="balls-bg"></div>


{{if not (hasPrefix .RelPermalink "/blank/")}}
<nav class="navbar">
	<div class="navbarcontent">
		<a href="/" class="homelink h-card" rel="me" style="color:#ccc">
			<style>.navbarm{fill:transparent}</style>
			<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1348 1100" preserveAspectRatio="xMinYMin meet" style="width: 100%; height: 100%; max-height:65px; max-width:70px;"><path class="navbarm" d="m118 999l78-897h363l124 560 183-560h369l-23 897h-244l20-640-211 640h-241l-144-640-42 640z"/></svg>
		</a>
		<div class="otherlinks"> <!--If the current page is equal to this URL, give it a CSS class (might have to change this later)-->
			<a href="/blog" style="color:#ccc" class="navlink {{if or (hasPrefix .RelPermalink "/blog/") (hasPrefix .RelPermalink "/tags/")}}activepage{{end}}">Blog</a>
			<a href="/now" style="color:#ccc" class="navlink {{if hasPrefix .RelPermalink "/now/"}}activepage{{end}}">Now</a>
			{{/*<a href="/projects" style="color:#ccc" class="navlink {{if hasPrefix .RelPermalink "/projects/"}}activepage{{end}}">Projects</a>*/}}
			<a href="/about" style="color:#ccc" class="navlink {{if hasPrefix .RelPermalink "/about/"}}activepage{{end}}">About</a>
		</div>
	</div>
</nav>
<script>0</script>
<noscript><style>body { visibility: visible; }</style></noscript>
<main>

{{ if not (.Param "hidecontentbg")}}
<div class="{{if not (hasPrefix .RelPermalink "/tags/")}}contentbg{{else}}contentmargin{{end}} float-in">
{{end -}}


{{if not (hasPrefix .RelPermalink "/tags/")}}
	<header class="{{if .Param "smallpost"}}headersmallpost {{end -}} {{if or (not .Params.coverimg) (.Params.hidecoverimg)}}headernocoverimg{{end -}}">
		{{if (and (.Params.coverimg) (not .Params.hidecoverimg))}}
			<div class="coverimgcontainer">
				<div class="coverimgcontainer2">
					<div class="coverimg">
						<picture>
							<source srcset="/images/covers/{{ .Params.coverimg }}.{{ .Params.coverimgmaintype }}" type="image/{{ .Params.coverimgmaintype }}">
							<img src="{{ .Params.coverimg }}.jpg" width="800" height="400">
						</picture>
					</div>
				</div>
			</div>
		{{end -}}
		{{if .Param "tags"}}<div class="posttags"><p>Tags: {{partial "taglist.html" .}}</p></div>{{else if not (.Param "hidetitle")}}<br>{{end -}}
		{{if (and (not (.Param "hidetitle")) (not (hasPrefix .RelPermalink "/tags/")))}}<h1 id="tag_{{.Title}}" class="pagetitle">{{block "title" .}}{{end}}</h1>{{end}}
		{{if not (.Param "hidesummary")}}<p class="pagesummary">{{.Summary}}</p>{{end}}
		{{if (and (not (.Param "hidedate")) (not (hasPrefix .RelPermalink "/tags/")))}}<p class="datewritten {{if not (.Param "centerdate")}}classicdatewritten{{end}}"><time>{{if .Param "datelabelupdated"}}Updated{{else}}Date posted{{end}}: {{.Date.Format "02 Jan. 2006"}}</time></p>{{end}}
	</header>
{{end}}
{{if eq .RelPermalink "/tags/"}}
	{{partial "tagsite.html" .}}
	{{partial "list.html" .}}
{{else if hasPrefix .RelPermalink "/tags/"}} {{/* to specify new tag colours, modify the line below, the one in tagcloud.html, and the one in taglist.html */}}
	<div class="contentbg" style="margin-bottom:50px; padding-top:18px;">
		<a href="/blog">< Back</a>
		<h2 style="margin-top:8px; margin-bottom: 8px;">Showing all <b class="tag allpoststag {{if eq .Title "Outside"}}tagoutside{{else}}{{if eq .Title "Website"}}tagwebsite{{end}}{{end}}{{if eq .Title "Game Dev"}}taggamedev{{end}}">{{block "title" .}}{{end}}</b> posts:</h2>
	</div>
	{{partial "list.html" .}}
{{end}}
{{ if .IsHome }}
{{ end }}

{{/* The YouTube link button */}}
{{if .Param "ytvid"}}
	<div class="ytbuttoncontainer">
		<div class="ytbutton _1">
			<a href="https://www.youtube.com/watch?v={{.Param "ytvid"}}">
				<p>Watch on </p><img class="ytbuttonicon" src="/icons/youtubefull.svg" alt="YouTube icon" style="height:25px; width: 108px;">
			</a>
		</div>
		<div class="ytbutton _2">
			<a href="https://www.youtube.com/watch?v={{.Param "ytvid"}}">
				<p>Watch on </p><img class="ytbuttonicon" src="/icons/youtubefull.svg" alt="YouTube icon" style="height:25px; width: 108px;">
			</a>
		</div>
	</div>
{{ end }}

{{ block "main" . }}
{{ .Content }}
{{ end }}
{{if .IsHome}}
	
{{end}}
{{/* Don't show comments in these pages */}}
{{if or (and 
	(not (hasPrefix .RelPermalink "/tags/"))
	(not (eq .RelPermalink "/blog/"))
	(not (eq .RelPermalink "/projects/"))
	(not (hasPrefix .RelPermalink "/contact/"))
	((.Param "commentsenabled"))
) (eq .RelPermalink "/tags/")}}
	<!--Contains the load comments button and comment section div-->
	{{partial "comments.html" .}}
{{ end }}
<!--Remark42 stuff, doesn't actually get shown unless the 
comments partial/shortcode is loaded-->
<script>
	// Remark42 settings
	var remark_config = {
		host: 'https://remark42.mat383.com',
		site_id: 'remark',
		theme: 'dark',
		show_email_subscription: false,
		show_rss_subscription: true,
	};
	// Function to dynamically load Remark42 scripts
	function loadRemark42() {
		if (window.location.protocol !== 'https:') {
			document.getElementById('commentSection').innerHTML = '<p style="color: #ff5b5b;">Please use HTTPS to view comments.</p>';
			return;
		}
		
		var components = remark_config.components || ["embed"];
		var head = document.head || document.body;
		
		for (var i = 0; i < components.length; i++) {
			var script = document.createElement("script");
			var extension = ".js";
			
			// Check if the current environment supports ES modules
			if ("noModule" in script) {
				script.type = "module";
				extension = ".mjs";
			}
			
			script.async = true;
			script.defer = true;
			script.src = remark_config.host + "/web/" + components[i] + extension;
			head.appendChild(script);

			// Remove the "Load Comments" button 200ms after it was pressed (so touchscreen users can see the cool animation)
			setTimeout(function() { 
				var loadCommentsButton = document.getElementById('commentSection');
				loadCommentsButton.parentNode.removeChild(loadCommentsButton);
			}, 200);
		}
	}
	// Attach click event listener to the button
	document.getElementById('loadComments').addEventListener('click', function() {
		loadRemark42();
	});

</script>

{{/* Automatic comments loading */}}
{{if .Param "autoloadcomments"}}
	<script>
		const options = {
			root: null, // observe relative to viewport
			rootMargin: '0px', // no margin
			threshold: 0.1 // trigger when 10% visible
		};
		
		const observer = new IntersectionObserver((entries) => {
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					loadRemark42();
					observer.disconnect(); // prevent multiple loads
				}
			});
		}, options);
		
		// Observe the comment section
		observer.observe(document.getElementById('commentSection'));
	</script>
{{end}}

</main>
{{ block "footer" . }}
<footer>
	
	<br>
	<br>

	<br>

	<div class="footerbadges">
		<a href="https://mat383.com/fanclub" class="footerhover"><img src="/badges/fanclub.gif" alt="Mat383 Fanclub!!" class="badgesize1"></a>
		<a href="https://512kb.club/" class="footerhover"><img src="/badges/green-team.gif" alt="The 512KB Club" class="badgesize1"></a>
		<a href="https://wiby.me/" class="footerhover"><img src="/badges/wiby.png" alt="Wiby, the classic search engine" class="badgesize1"></a>
		<a href="https://myfavouritewebsite.com/" class="footerhover"><img src="/badges/myfavouritewebsite.png" alt="My favourite website" class="badgesize1"></a>
		<br>
		<a href="http://250kb.club/" class="footerhover"><img src="/badges/250kb-club.png" alt="The 250KB Club", style="width:160px; height: 24px;"></a>
	</div>

	<p class="footerhover footertext">Made with <a href="https://gohugo.io/">Hugo</a> | <a href="https://github.com/mat-383/blog">Source code</a></p>
</footer>
{{ end }}

{{ if not (.Param "hidecontentbg")}}
</div>
{{end -}}
{{else}}
<!-- Particle background -->
<div class="particle-container">
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
</div>
{{end}}

</body>
</html>

