<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} - {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<meta name="description" content="{{ .Summary }}{{ if .IsHome }}{{ end }}">
	<!--<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">-->
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta name="darkreader-lock">
	<meta charset="utf-8">
</head>
<nav class="navbar">
	<div class="navbarcontent">
		<a href="/" class="homelink">mat383.com</a>
		<div class="otherlinks"> <!--If the current page is equal to this URL, give it a CSS class (might have to change this later)-->
			<a href="/blog" class="{{if or (hasPrefix .RelPermalink "/blog/") (hasPrefix .RelPermalink "/tags/") }}activepage{{ end }}">Blog</a>
			<a href="/projects" class="{{if hasPrefix .RelPermalink "/projects/" }}activepage{{ end }}">Projects</a>
			<a href="/contact" class="{{if hasPrefix .RelPermalink "/contact/" }}activepage{{ end }}">Contact</a>
		</div>
	</div>
</nav>
<body>
<!--{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}-->
<main>
<header>
	{{ if .Param "tags" }}<div class="posttags"><p>Tags: {{ partial "taglist.html" . }}</p></div>{{ else if not (.Param "hidetitle")}}<br>{{ end -}}
	{{ if not (.Param "hidetitle") }}<h1 id="tag_{{ .Title }}" class="pagetitle">{{ block "title" . }}{{ end }}</h1>{{ end }}
	{{ if not (.Param "hidesummary") }}<p class="pagesummary">{{ .Summary }}</p>{{ end }}
</header>
{{ if .IsHome }}
{{ end }}

{{ block "main" . }}
{{ .Content }}
{{ end }}
<!--{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}-->
</main>
{{ block "footer" . }}
<footer>
	{{/* Don't show comments in these pages */}}
	{{if or (and 
		(not (hasPrefix .RelPermalink "/tags/"))
		(not (eq .RelPermalink "/blog/"))
		(not (eq .RelPermalink "/projects/"))
		(not (hasPrefix .RelPermalink "/contact/"))
	) }}
		<!--Remark42 comments, temporarily disabled
		<script> 
			var remark_config = {
			host: 'http://remark42.mat383.com:8080',
			site_id: 'remark42.mat383.com',
			theme: 'dark',
			show_email_subscription: false,
			};
		</script>
		<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
		<div id="remark42"></div>-->
	{{ end }}
	<br>
	<br>
	<p class="footerhover">Made with <a href="https://gohugo.io/">Hugo</a> | <a href="https://github.com/mat-383/blog">Source code</a></p>
	{{- if .Param "showrss" }}<a href="/index.xml" class="footerhover"><img src="/rss.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for new blog posts!"></a>{{ end }}
	<br>
	<a href="http://wiby.me/" class="footerhover"><img src="/images/wiby.gif" alt="Wiby, the classic search engine"></a>
</footer>
{{ end }}
</body>
</html>

