<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} - {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<meta name="description" content="{{ .Summary }}{{ if .IsHome }}{{ end }}">
	<!--<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">-->
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta name="darkreader-lock">
	<meta charset="utf-8">
</head>
<nav class="navbar">
	<div class="navbarcontent">
		<a href="/" class="homelink">mat383.com</a>
		<div class="otherlinks"> <!--If the current page is equal to this URL, give it a CSS class (might have to change this later)-->
			<a href="/blog" class="{{if or (hasPrefix .RelPermalink "/blog/") (hasPrefix .RelPermalink "/tags/")}}activepage{{end}}">Blog</a>
			<a href="/projects" class="{{if hasPrefix .RelPermalink "/projects/"}}activepage{{end}}">Projects</a>
			<a href="/contact" class="{{if hasPrefix .RelPermalink "/contact/"}}activepage{{end}}">Contact</a>
		</div>
	</div>
</nav>
<body>
<!--{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}-->
<main>
<header>
	{{if .Param "tags"}}<div class="posttags"><p>Tags: {{partial "taglist.html" .}}</p></div>{{else if not (.Param "hidetitle")}}<br>{{end -}}
	{{if not (.Param "hidetitle")}}<h1 id="tag_{{.Title}}" class="pagetitle">{{block "title" .}}{{end}}</h1>{{end}}
	{{if not (.Param "hidesummary")}}<p class="pagesummary">{{.Summary}}</p>{{end}}
	{{if (and (not (.Param "hidedate")) (not (hasPrefix .RelPermalink "/tags/")))}}<p class="datewritten {{if not (.Param "centerdate")}}classicdatewritten{{end}}"><time>{{if .Param "datelabelupdated"}}Updated{{else}}Date written{{end}}: {{.Date.Format "02 Jan. 2006"}}</time></p>{{end}}
</header>
{{ if .IsHome }}
{{ end }}

{{ block "main" . }}
{{ .Content }}
{{ end }}
{{if .IsHome}}
	<hr>
	<h2>Guestbook</h2>
	<p>Once you've had a look around, feel free to leave a comment in my guestbook:</p>
{{end}}
</main>
{{ block "footer" . }}
<footer>
	<!-- Don't show comments in these pages -->
	{{if or (and 
		(not (hasPrefix .RelPermalink "/tags/"))
		(not (eq .RelPermalink "/blog/"))
		(not (eq .RelPermalink "/projects/"))
		(not (hasPrefix .RelPermalink "/contact/"))
		((.Param "commentsenabled"))
	)}}
		<button id="loadComments" class="loadcommentsbutton">
			<p>Load {{if .IsHome}}Guestbook{{else}}Comments{{end}}</p>
			<div class="loadcommentsicons">
				{{if .IsHome}}
					<img class="loadcommentsicon1" src="/icons/guestbook.svg">
					<img class="loadcommentsicon2" src="/icons/guestbook-green.svg">
				{{else}}
					<img class="loadcommentsicon1" src="/icons/comments.svg">
					<img class="loadcommentsicon2" src="/icons/comments-green.svg">
				{{end}}
			</div>
		</button>
		<script>
			// Remark42 settings
			var remark_config = {
				host: 'https://remark42.mat383.com',
				site_id: 'remark',
				theme: 'dark',
				show_email_subscription: false,
				show_rss_subscription: true,
			};
			// Function to dynamically load Remark42 scripts
			function loadRemark42() {
				var components = remark_config.components || ["embed"];
				var head = document.head || document.body;
				
				for (var i = 0; i < components.length; i++) {
					var script = document.createElement("script");
					var extension = ".js";
					
					// Check if the current environment supports ES modules
					if ("noModule" in script) {
						script.type = "module";
						extension = ".mjs";
					}
					
					script.async = true;
					script.defer = true;
					script.src = remark_config.host + "/web/" + components[i] + extension;
					head.appendChild(script);

					// Remove the "Load Comments" button 200ms after it was pressed (so touchscreen users can see the cool animation)
					setTimeout(function() { 
						var loadCommentsButton = document.getElementById('loadComments');
						loadCommentsButton.parentNode.removeChild(loadCommentsButton);
					}, 200);
					
					
				}
			}
			// Attach click event listener to the button
			document.getElementById('loadComments').addEventListener('click', function() {
				loadRemark42();
			});
		</script>

		<!-- Placeholder for comment box -->
		<div id="remark42" class="remark42"></div>
	{{ end }}
	<br>
	<br>
	<p class="footerhover">Made with <a href="https://gohugo.io/">Hugo</a> | <a href="https://github.com/mat-383/blog">Source code</a></p>
	{{- if .Param "showrss" }}<a href="/index.xml" class="footerhover"><img src="/rss.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for new blog posts!"></a>{{ end }}
	<br>

	<div class="footerbadges">
		<a href="https://512kb.club/" class="footerhover"><img src="/images/green-team.gif" alt="The 512KB Club"></a>
		<a href="http://wiby.me/" class="footerhover"><img src="/images/wiby.gif" alt="Wiby, the classic search engine"></a></div>
</footer>
{{ end }}
</body>
</html>

